<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "main2" %>
  <%= csrf_meta_tags %>
</head>
<body class="body gred">
	
<%= yield %>

</body>
</html>
